includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    paths:
        - src
    level: max
    excludes_analyse:
        - '%rootDir%/tests/'
