includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    paths:
        - src
    level: max
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Anonymous class extends unknown class Symfony\\Component\\EventDispatcher\\Event.#'
            path: '%rootDir%/src/Ports/Symfony/SymfonyPublisher.php'
    excludes_analyse:
        - '%rootDir%/tests/'
